.deck-page {
  padding: 20px;
}

.deck-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/*  Responsive */
@media (max-width: 768px) {
  .card {
    width: 180px;
  }

  .card-image {
    height: 230px;
  }
}
