.news{
max-width:1100px;
margin:auto;
padding:40px;
text-align:center;
}

.news h2{
font-size:32px;
margin-bottom:10px;
color:#ffcc00;
}

.news-description{
margin-bottom:30px;
color:#f8f8f8;
font-size:18px;
}

/* RSS links */

.rss-links{
margin-bottom:40px;
}

.rss-links a{
display:inline-block;
margin:10px;
padding:10px 20px;
background:#222;
color:white;
text-decoration:none;
border-radius:6px;
transition:0.3s;
}

.rss-links a:hover{
background:#ffcc00;
color:rgb(226, 38, 38);
}

/* News cards */

.news-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.news-card{
background:white;
border-radius:10px;
padding:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:left;
transition:transform 0.2s;
}

.news-card:hover{
transform:translateY(-5px);
}

.news-card h3{
font-size:18px;
margin-bottom:10px;
}

.news-card p{
font-size:14px;
color:#666;
margin-bottom:10px;
}

.news-card a{
color:#0077ff;
text-decoration:none;
font-weight:bold;
}

.news-card a:hover{
text-decoration:underline;
}