.home{
background-color: #0709a8;
}



.search-input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  max-width: 90%;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #14166e;
 
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #071bd1, #961010);
  color: #f5f5f5;
}
