.card {
  width: 220px;
  background: linear-gradient(180deg, #f5deb3, #d2b48c);
  border: 2px solid #0918a0;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(231, 11, 11, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.6);
}

.card-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #000;
}

.card-name {
  font-size: 1.1rem;
  margin: 8px 0 4px;
  font-weight: bold;
}

.card-type {
  font-size: 0.9rem;
  font-style: italic;
}

.effect {
  font-size: 0.8rem;
  margin: 6px 0;
}

.card-atats {
  font-weight: bold;
  margin-top: 6px;
}

.add-btn {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #8b0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #b22222;
}
