.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;

}

.nav a{
    margin-left: 20px;
    color: #fff;
    text-decoration: none;

}

.nav a:hover{
    text-decoration: underline;
}